.container {
    margin-top: 30px;
}

.title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.post {
    margin-bottom: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
}

.imageContainer {
    flex: 1;
    height: 400px;
    width: 100%;
    position: relative;
}

.image {
    object-fit: cover;
}

.textContainer {
    flex: 1;
    gap: 20px;
}

.postHeader {
    font-size: 40px;
    font-weight: 600;
}

.postText {
    font-size: 18px;
    font-weight: 300;
    color: var(--soft-text-color);
}

.button {
    margin: 20px 0;
    padding: 16px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    width: max-content;
}


/* Media query for small devices (phones, 480px and below) */

@media (max-width: 480px) {
    .post {
        flex-direction: column;
        gap: 20px;
    }
    .imageContainer {
        height: 200px;
        width: 100%;
    }
    .postHeader {
        font-size: 30px;
    }
    .postText {
        font-size: 16px;
    }
}


/* Media query for medium devices (tablets, 768px and below) */

@media (max-width: 768px) {
    .post {
        flex-direction: column;
        gap: 20px;
    }
    .imageContainer {
        height: 300px;
        width: 100%;
    }
    .postHeader {
        font-size: 30px;
    }
    .postText {
        font-size: 16px;
    }
}


/* Media query for large devices (laptops and desktops, 1024px and below) */

@media (max-width: 1024px) {
    /* Add your specific styles for large devices here */
}